## import

In [1]:
import pandas as pd
import numpy as np

In [2]:
"""
1. 将字典转化为dataframe
"""
data = {"grammer": ["python", "C", "java", "GO", np.nan, "PHP", "SQL"],
        "score": [1, 2, np.nan, 4, 5, 7, 10]}

df = pd.DataFrame(data)
df

  grammer  score
0  python    1.0
1       C    2.0
2    java    NaN
3      GO    4.0
4     NaN    5.0
5     PHP    7.0
6     SQL   10.0

In [3]:
"""
2. 提取含有字符串python的行
"""
df[df['grammer'] == 'python']

  grammer  score
0  python    1.0

In [4]:
"""
3. 输出df所有列列明
"""
df.columns

Index(['grammer', 'score'], dtype='object')

In [5]:
"""
4. 修改第二列列名为polularity
"""
df.rename(columns={'score':'popularity'}, inplace=True)
df

  grammer  popularity
0  python         1.0
1       C         2.0
2    java         NaN
3      GO         4.0
4     NaN         5.0
5     PHP         7.0
6     SQL        10.0

In [6]:
"""
5. 统计grammer列中每种语言出现的次数
"""
df['grammer'].value_counts()

python    1
C         1
java      1
GO        1
PHP       1
SQL       1
Name: grammer, dtype: int64

In [8]:
"""
6. 将空值用上下值的平均值填充
"""
df['popularity'] = df['popularity'].fillna(df['popularity'].interpolate())
df

  grammer  popularity
0  python         1.0
1       C         2.0
2    java         3.0
3      GO         4.0
4     NaN         5.0
5     PHP         7.0
6     SQL        10.0

In [9]:
"""
7. 提取popularity列中值大于3的行
"""
df[df['popularity'] > 3]

  grammer  popularity
3      GO         4.0
4     NaN         5.0
5     PHP         7.0
6     SQL        10.0

In [10]:
"""
8. 按照grammer列去除重复值
"""
df.drop_duplicates(['grammer'])

  grammer  popularity
0  python         1.0
1       C         2.0
2    java         3.0
3      GO         4.0
4     NaN         5.0
5     PHP         7.0
6     SQL        10.0

In [11]:
"""
9. 计算popularity列列平均值
"""
df['popularity'].mean()

4.571428571428571